* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font:'Montserrat', Helvetica, Arial;
    --color: black;
}

main {
    max-width: 840px;
    grid-column: 2/3;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #000;
}

aside {
    position:relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    left: 142px;
    top: 140px;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    color: var(--color);
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* CSS class selectors */

.grid {
    display: grid;
    align-items: center;
}

.box {
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: #ddd;
    color: black;
}

.indent {
    padding:2rem;
}